<div class="form-control">
    <h1>Edit Profile Form</h1>
    <div class="form-control">
        <label>User Name</label>
        <input class="form-control" type="text" placeholder="Username"/> <br>
        <label>Name</label>
        <input class="form-control" type="text" placeholder="Name"/><br>
        <label>Email</label>
        <input class="form-control" type="email" placeholder="Email Address"/><br>
        <label>Password</label>
        <input class="form-control" type="password" placeholder="Password"/><br>
        <label>Confirm Password</label>
        <input class="form-control" type="password" placeholder="Password"/><br>
        <label>Sex</label>
        <select class="form-control">
            <option value="">Male</option>
            <option value="">Female</option>
        </select><br>
        <input class="form-control btn btn-primary"  type="submit" value="Save"/><br>
    </div>
</div>