{{#with this.info}}
<div class="form-control">
    <h1>Edit Profile Form</h1>
    <div class="form-control">
        <label>User Name</label>
        <input class="form-control" value="{{username}}" type="text" placeholder="Username"/> <br>
        <label>Display Name</label>
        <input class="form-control" value="{{displayname}}" type="text" placeholder="Name"/><br>
        <label>Email</label>
        <input class="form-control" type="email" value="{{email}}" placeholder="Email Address"/><br>
        {{/with}}
        {{#if true}}
          <label>Pseudonym</label>
            <input class="form-control" type="email" value="{{pseudonym}}" placeholder="Email Address"/><br>
        {{/if}}
        <input class="form-control btn btn-primary"  type="submit" value="Save"/><br>
    </div>
</div>
